<div class="main-wrapper">
  <div class="menu-card">
    
    <h1>Menú Principal</h1>

    <div class="button-group">
      <button class="menu-btn" (click)="goToSearch()">
        <span class="icon">🔍</span> 
        <span>Buscar Series</span>
      </button>

      <button class="menu-btn" (click)="goToWatchlist()">
        <span class="icon">⭐</span> 
        <span>Series Favoritas</span>
      </button>

      <button *ngIf="isAdmin()" class="menu-btn admin" (click)="goToMonitoring()">
        <span class="icon">📊</span> 
        <span>Monitoreo</span>
      </button>

      <button class="menu-btn" (click)="goToNotifications()">
        <div class="btn-content">
          <span class="icon">🔔</span> 
          <span>Notificaciones</span>
        </div>
        
        <span *ngIf="unreadCount > 0" class="badge">
          {{ unreadCount }}
        </span>
      </button>
    </div>

    <div class="footer-actions">
      <button class="link" (click)="logout()">Cerrar sesión</button>
    </div>

  </div>
</div>
