<div class="series-container">
  <h2>Búsqueda de Series</h2>

  <div class="search-box">
    <label>Título</label>
    <input [(ngModel)]="title" placeholder="Ej. Breaking Bad" />

    <label>Género (opcional)</label>
    <input [(ngModel)]="genre" placeholder="Comedy, Drama, Crime..." />

    <button (click)="search()">Search</button>
  </div>

  <button (click)="goBack()">Volver al Menú</button>

  <div *ngIf="loading">Buscando Series...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="series-grid">
    <div class="serie-card" *ngFor="let serie of series">
      <img *ngIf="serie.poster" [src]="serie.poster" alt="poster" />

      <h3>{{ serie.title }}</h3>
      <p>Año: {{ serie.year }}</p>
      <p>Género: {{ serie.genre }}</p>

      <button (click)="addToFavorites(serie)">
      ⭐ Agregar a Favoritas
      </button>

    </div>
  </div>
</div>
